html {
    box-sizing: border-box;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,fe9090+50,ff5c5c+100 */
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 50%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #febbbb 0%,#fe9090 50%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #febbbb 0%,#fe9090 50%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;   
    background-attachment: fixed; 
}
header {
    padding: 30px 0;
    text-align: center;
}
.contenedor {
    margin: 0 auto;
    width: 800px;
}
.hero img {
    width: 100%;
}
h2 {
    color: #ffffff;
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;
}
.lista-productos {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-productos li {
    float: left;
    padding: 0 20px 30px;
    text-align: center;
    width: 50%;
}
.lista-productos li:nth-child(2n+1) {
    clear: both;
}
.lista-productos li img {
    border: 2px solid rgba(172, 159, 179, 0.45);
    border-radius: 12px;
}
.lista-productos li img:hover {
    box-shadow: 0px 2px 13px 3px black;
    border: none;
}
.lista-productos li p {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.lista-productos li span{
    color: #ffce00;
    font-size: 26px;
}
.boton {
    background-color: #ffce00;
    border-radius: 12px;
    color: rgba(128, 1, 195, .8);
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.boton:hover {
    box-shadow: 0px 2px 13px 3px black;
}